:root {
    --main-bg-color: rgb(34, 33, 33);
    --blue-vibrant: #2563eb;
    --blue-dark: #1e3a8a;
    --blue-light: #93c5fd;

}




body, html {
    background-color: var(--main-bg-color);
    height: 100%;
    margin: 0;
    font-family: 'Roboto', 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    height: 50px;
    width: 100%;
    background-color: var(--blue-dark);
    display: flex;
    justify-content: space-evenly;

}

.header a{
    text-decoration: 0;
    font-weight: bold;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.header a:hover {
    background-color: var(--blue-vibrant);
}

.links {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    
}

.empty {
    height: auto;
    width: 300px;
  
}


input[type="search"], .search {
    color: rgb(214, 214, 214);
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    border: none;
    outline: none;
    color: rgb(59, 58, 58)
}

.search_input {
    align-self: center;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.search_input img {
    margin-right: 10px;
}


.main-container {
    width: fit-content;
    height: 500px;
    align-self: center;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}



.boxed, .unboxed, .home {
    color: rgb(100, 99, 99);
    background-image: linear-gradient(rgb(235, 235, 235),rgb(141, 140, 140)) ;
    height: 50px;
    width: 160px;
    font-size: 1rem;
    font-weight: bold;
    outline: 0;
    border: none;
    border-radius: 6px 6px 0px 0px;
}

.boxed:hover, .unboxed:hover, .home:hover {
    color: rgb(187, 35, 35);
}




#boxed, #unboxed, #home {
    background: rgb(235, 235, 235);
    color: rgb(187, 35, 35);
}



#homepage {
    background-color: rgb(235, 235, 235);
    height: 520px;
    width: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 6px 6px 6px;

}

.home_title {
    width: 96%;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: solid white 2px;
    border-style: outset;
    border-radius: 4px;
    background-color: #CCD4DD;
  
}

h1 {
    font-size: 26px;
    
    font-weight: bolder;
   
}

h1 em {
    color: #F37021;
    text-shadow: 1px 1px white;
    font-size: 2rem;
}

.title_bar {
    background-color: var(--blue-dark);
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    
}


.upper-container {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    box-sizing: border-box;
}

.input-container {
    background-color: rgb(235, 235, 235);
    display: none;
    height: 500px;
    width: 600px;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 6px 6px 6px;
    justify-content: center;
    padding: 10px 40px 10px 40px;
   
}

.input_fields {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    border: solid white 2px;
    border-style: outset;
    background-color: #CCD4DD;
    border-radius: 4px;
}

.select_crt {
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

#crate_type {
    width: 60%;
    height: 40%;
    font-size: 1rem;
}

.type_label {
    color: rgb(73, 73, 73);
}

.box_bar {
    background-color: var(--blue-dark);
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

}



.input-container2 {
    background-color: rgb(235, 235, 235);
    display: none;
    height: 500px;
    width: 600px;
    flex-direction: column;
    border-radius: 0px 6px 6px 6px;
    justify-content: center;
    padding: 10px 40px 10px 40px;
  
}


.input_field2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    border: solid white 2px;
    border-style: outset;
    border-radius: 4px;
    background-color: #CCD4DD;
    
}

.sect_specs {
    width: 100%;
    display: flex;
}

.length, .material {
    border: solid var(--blue-dark) 1px;
    margin: 2px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_head {
    background-color: var(--blue-light);
    width: 100%;
    height: 100%;
    text-align: center;
   
}

.borderline {
    height: 100%;
    width: 1px;
    background-color: grey;
}


.container {
    display: flex;
    flex-direction: column; 
}




.button-container {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 400px;
    align-items: center;
    
    
}



.a {
    width: 150px;
    height: 50px;
    background: #0835ff;
    font-size: 28px;
    border-radius: 20px 0 0 20px;
    box-shadow: grey;
    color: white;
    margin-right: 2px;
   
}

.reset {
    width: 150px;
    height: 50px;
    background: #d66508;
    font-size: 28px;
    border-radius: 0 20px 20px 0;
    box-shadow: grey;
    color: white;
    margin-left: 2px;
  
}



.box-number{
    
    width:fit-content;
    font: 25px;
    color: black;
    

}



.linkedpage {
 margin-top: 10px;
 height: 50px;
 border: solid white 2px;
 border-style: outset;
 background-color: rgb(235, 235, 235);

 
}


#result {
  margin-right: 10px;
   
}



.result-panel {
  display: none;
  background: white;
  width: fit-content;
  height: fit-content;
 
}

#blank {
    height: 50px;
    width: 100%;
    background-color: var(--main-bg-color);
}

table {
    border-collapse: collapse;
    border: solid rgb(71, 71, 71) 1px;
    height: 520px;
    width: 680px;
    border-radius: 6px;
}



tr, th, td {
    border: solid black 1px;
    padding: 30px;
    text-align: center;
}

input[type="number"] {
    width: 100px;
    height: 25px;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto', 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    text-align: center;
}

.button-box {
      
    height: 200px;
    width: 340px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 50px;
}

.footer {
    height: 60px;
    width: 100%;
    background-color: rgb(47, 47, 49);
    position: fixed;
    bottom: 0;
    left: 0;
      
}

.footer p {
    font-size: 20px;
    text-align: center;
    color:rgb(95, 95, 95)
}

li.crate_type {
    margin-bottom: 60px;
}

#tips {
    margin-top: 20px;
    margin-left: 12px;
}

#mids {
    margin-top: 20px;
    margin-left: 9px;
}




 


