body {
    background-color: rgb(58, 65, 75);
    height: 100%;
    margin: 0;
    font-family: 'Roboto', 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
   
}

.header {
    height: 80px;
    width: 100%;
    
    background-color: rgb(23, 23, 24);
}

.upper-container {
     
    width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.upper-containerTwo {
     
    width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}






h1 {
    font-size: 26px;
    color: rgb(214, 214, 214);
    font-weight: bolder;
    text-align: center;
}

.main-container {
    background-color: rgb(126, 127, 129);
    border: solid rgb(95, 95, 95) 4px;
    border-radius: 6px;
    border-style: outset;
    width: 900px;
    align-self: center;
    padding: 40px;
    margin-top: 40px;
    box-shadow: rgb(43, 43, 43) 0px 0px 10px 10px;
    display: flex;
}

.button-container {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 400px;
    align-items: center;
    
}



.a {
    width: 300px;
    height: 60px;
    background: #3b59ac;
    font-size: 28px;
    border-radius: 10px;
    box-shadow: grey;
    color: white;
   
}

.reset {
    width: 300px;
    height: 60px;
    background: #c96023;
    font-size: 28px;
    border-radius: 10px;
    box-shadow: grey;
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
}

.input-container {
    background-color: rgb(235, 235, 235);
    display: flex;
    height: fit-content;
    width:fit-content;
    flex-direction: column;
    border: solid rgb(61, 61, 61) 1px;
    border-radius: 6px;
    justify-content: center;
    align-items:center;
    
    padding: 20px;
    
}

.box-number{
    
    width:fit-content;
    font: 25px;
    color: black;
    

}



.linked-page {
 margin-bottom: 30px;
 
}

.bases {
    color: rgb(0, 0, 0);
    
}

.mids{
    color: rgb(0, 0, 0);
    margin-right: 25px;
}


.tips {
    color: rgb(0, 0, 0); 
    margin-right: 26px;
}

#result {
  margin-right: 10px;
   
}



.result-panel {
  background: white;
  
  align-self: center;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
}

table {
    border-collapse: collapse;
    border: solid rgb(66, 66, 66) 1px;
    width: 100%;
    
    
    
}

tr, th, td {
    border: solid black 1px;
    padding: 30px;
}

input[type="number"] {
    width: 100px;
    height: 30px;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    

}

ul {
    list-style-type: none;
  }

  .button-box {
      
      height: 150px;
      width: 340px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      
  }

  .footer {
      height: 60px;
      width: 100%;
      background-color: rgb(47, 47, 49);
      position: fixed;
      bottom: 0;
      left: 0;
      
  }

  p {
      font-size: 20px;
      text-align: center;
      color:rgb(95, 95, 95)
  }

  